html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4 {
  background-color: #E0E0E0;
}

.section-5 {
  background-color: #BBDEFB;
}

.navbar {
  /* border-radius: 0 0 15px 15px; */
}

.footer {
  /* border-radius: 15px 15px 0 0; */
}

.skills-image {
  max-width: 100%;
  max-height: 70vh; /* Ensure the image does not exceed 70% of the viewport height */
  height: auto;
  width: auto;
  object-fit: contain; /* Ensure the image scales correctly without distorting */
}

/* Add this to your styles.css file or inside a <style> tag in your HTML */
.carousel-control-prev, .carousel-control-next {
  width: 90%; /* Adjust this value as needed to control the spacing */
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.dev-background {
  background-color: #ffc4c4; /* Couleur pour Dev */
}

.three-d-background {
  background-color: #ffc4c4; /* Couleur pour 3D */
}

.selected {
  border: 2px solid #000; /* Exemple de style supplémentaire pour la sélection */
  background-color: aqua;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-image.mb-2 {
  max-height: 200px; /* Ajustez la taille selon vos besoins */
}

.carousel-image.m-2 {
  max-height: 100px; /* Ajustez la taille selon vos besoins */
}

#modalImage {
  width: 100%; /* Assurez-vous que l'image prend toute la largeur de la modale */
  height: auto; /* Maintenez l'aspect ratio */
  max-height: 70vh; /* Limite la hauteur maximale à 70% de la hauteur de la fenêtre */
  object-fit: contain; /* S'assure que l'image s'adapte sans être coupée */
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh; /* Ajout pour limiter la hauteur du contenu de la modale */
}

/* Espacement personnalisé pour les boutons "prev" et "next" */
.custom-prev {
  left: -5%; /* Ajustez cette valeur pour espacer davantage */
}

.custom-next {
  right: -5%; /* Ajustez cette valeur pour espacer davantage */
}

/* Position des indicateurs plus bas */
.carousel-indicators {
  bottom: -20px; /* Ajustez cette valeur pour descendre les indicateurs */
}

/* Classes pour la réactivité */
@media (max-width: 768px) {
  .carousel-image.mb-2 {
      max-height: 150px; /* Réduisez la taille pour les petits écrans */
  }
  .carousel-image.m-2 {
      max-height: 80px; /* Réduisez la taille pour les petits écrans */
  }

  .custom-prev {
      left: -2%; /* Ajustez cette valeur pour espacer davantage sur les petits écrans */
  }

  .custom-next {
      right: -2%; /* Ajustez cette valeur pour espacer davantage sur les petits écrans */
  }

  .carousel-indicators {
      bottom: -10px; /* Ajustez cette valeur pour descendre les indicateurs sur les petits écrans */
  }
}
